<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Employee Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Employee <span class="sr-only"> (current) </span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input type="search" name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..."
        required />
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row" style="padding: 24px">
          <div class="col-6">
            <a href=""><img src="{{ employee?.imageUrl }}" alt="" class="img-fluid rounded-circle w-60" /></a>
          </div>

          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{ employee?.name }}</h5>
            <p class="m-0">{{ employee?.jobTitle }}</p>
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>Email :
            <a href="#">
              {{ employee?.email }}
            </a>
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Phone : {{ employee?.phone }}
          </li>
        </ul>

        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Edit">
              <i class="fa fa-pencil"> </i>
            </a>

            <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Delete">
              <i class="fa fa-times"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Add Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input ngModel type="text" name="name" class="form-control" id="name" placeholder="Name" />
            </div>
            <input ngModel type="hidden" name="id" class="form-control" id="id" placeholder="Email" />
            <input ngModel type="hidden" name="userCode" class="form-control" id="userCode" placeholder="Email" />
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" />
            </div>
            <div class="form-group">
              <label for="phone">Job title</label>
              <input ngModel type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title" />
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input ngModel type="text" name="phone" class="form-control" id="phone" name="phone"
                placeholder="Phone" />
            </div>
            <div class="form-group">
              <label for="phone">Image URL</label>
              <input ngModel type="text" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="close-button" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-success" [disabled]="addForm.invalid">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Employee Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Edit Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel="{{ editEmployee?.name }}" name="name" class="form-control" id="name"
                aria-describedby="emailHelp" placeholder="Name" />
            </div>
            <input type="hidden" ngModel="{{ editEmployee?.id }}" name="id" class="form-control" id="id"
              placeholder="Email" />
            <input type="hidden" ngModel="{{ editEmployee?.userCode }}" name="userCode" class="form-control"
              id="userCode" placeholder="Email" />
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel="{{ editEmployee?.email }}" name="email" class="form-control" id="email"
                placeholder="Email" />
            </div>
            <div class="form-group">
              <label for="phone">Job title</label>
              <input type="text" ngModel="{{ editEmployee?.jobTitle }}" name="jobTitle" class="form-control"
                id="jobTitle" placeholder="Job title" />
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel="{{ editEmployee?.phone }}" name="phone" class="form-control" id="phone"
                name="phone" placeholder="Phone" />
            </div>
            <div class="form-group">
              <label for="phone">Image URL</label>
              <input type="text" ngModel="{{ editEmployee?.imageUrl }}" name="imageUrl" class="form-control"
                id="imageUrl" placeholder="Image URL" />
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                Close
              </button>
              <button (click)="onEditEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Employee Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">
            Are you sure you want to delete {{deleteEmployee?.name}}?
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">

          <form #deleteForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input ngModel="{{ deleteEmployee?.name }}" type="text" name="name" class="form-control" id="name"
                placeholder="Name" [attr.disabled]="true"/>
            </div>
            <input ngModel="{{ deleteEmployee?.id }}" type="hidden" name="id" class="form-control" id="id"
              placeholder="Email" [attr.disabled]="true"/>
            <input ngModel="{{ deleteEmployee?.userCode }}" type="hidden" name="userCode" class="form-control"
              id="userCode" placeholder="Email" [attr.disabled]="true"/>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input ngModel="{{deleteEmployee?.email}}"  type="email" name="email" class="form-control" id="email" placeholder="Email" [attr.disabled]="true"/>
            </div>
            <div class="form-group">
              <label for="phone">Job title</label>
              <input ngModel="{{deleteEmployee?.jobTitle}}"  type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title" [attr.disabled]="true"/>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input ngModel="{{deleteEmployee?.phone}}"  type="text" name="phone" class="form-control" id="phone" name="phone"
                placeholder="Phone" [attr.disabled]="true"/>
            </div>
            <div class="form-group">
              <label for="phone">Image URL</label>
              <input ngModel="{{deleteEmployee?.imageUrl}}"  type="text" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" [attr.disabled]="true"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                No
              </button>
              <button (click)="onDeleteEmployee(deleteEmployee!.id)" id="confirm-delete-button" type="button" class="btn btn-success">
                Yes
              </button>
            </div>
          </form>
        
        </div>

      </div>
    </div>
  </div>
</div>